<p style="color: green"><%= notice %></p>

<div class="header">
  <h1>Quotes</h1>  <%= link_to "New quote", new_quote_path, data: { turbo_frame: "_top"} %>
</div>

<br>
<br>


<div id="quotes">
  <% @quotes.each do |quote| %>
    <div class="onequote">
      <%= render quote %>
    </div>
  <% end %>
</div>


