<div class="header">
  <h1>New quote</h1>
</div>

<br>
<br>
<%= turbo_frame_tag @quote do %>
  <%= render "form", quote: @quote %>
<% end %>


<br>

<div>
  <%= link_to "Back to quotes", quotes_path %>
</div>
